@use './_base' as base

.loading
    @include base.centerDiv
    width: 100%
    height: 100%
    width: fill-available
    height: fill-available
    width: stretch
    height: stretch


.project-card
    overflow: hidden
    opacity: 0

.grid > .expanded
    grid-row: span 2
    animation: expand 0.5s forwards

.grid > .reduced    
    animation: reduce 0.5s forwards
    grid-row: span 2
    

.appear
    animation: appear 0.5s forwards

@keyframes appear
    0%
        opacity: 0
    100%
        opacity: 1


@keyframes expand
    0%
        height: min(calc(100vw - base.$gridGap *2), 350px)
    
    100%
        height: base.$doubleImageSize
        

@keyframes reduce
    0%
        height: base.$doubleImageSize
        
    100%
        height: min(calc(100vw - base.$gridGap *2), 350px)
        